
header {
   //background: #6F5060;
    background: #E08DAC;
    display:grid;
    overflow-x:hidden;
    h1 {
        font-size: xxx-large;
        text-transform: capitalize;
        font-family: "fantasy";
        text-shadow: 1px 1px 2px #8a9cec, 0 0 1em #753049, 0 0 0.2em #b65f7f;
        //text-shadow: 1px 1px 2px #160f16, 0 0 1em #1b101a, 0 0 0.2em #290d25;

        color: #153131;
        text-align: center;
      }
    
}
